@font-face {
    font-family: "Helvetica Neue Condensed Bold";
    src: url("../fonts/HelveticaNeue-CondensedBold.otf");
}

@font-face {
    font-family: "Helvetica Neue Bold";
    src: url("../fonts/HelveticaNeue-Bold.otf");
}

@font-face {
    font-family: "Helvetica Neue Bold Italic";
    src: url("../fonts/HelveticaNeue-BoldItalic.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main {
    min-height: 100vh;
    background-color: #51A8FF;
    opacity: 0.75;
    overflow: hidden;
}

.main-container {
    padding: 50px;
    max-width: 1500px;
    margin: 0 auto;
}

.main-title {
    font-size: 34px;
    white-space: nowrap;
    color: #ffffff;
    font-weight: 600;
    line-height: 46px;
    margin-bottom: 15px;
    font-family: "Helvetica Neue Condensed Bold";
    padding-left: 8%;
}
.title-container {
    margin-bottom: 33px;
}
.hr-first {
    margin-bottom: 10px;
    width: 95%;
    outline: none;
    height: 1px;
    background-color: #ffffff;
    border: unset;
}
.hr-second {
    width: 95%;
    outline: none;
    height: 1px;
    background-color: #ffffff;
    border: unset;
}
.text-right {
    display: flex;
    justify-content: flex-end;
}
.banner-top {
    display: grid;
    grid-template-columns: 75% 25%;
    justify-content: space-around;
    align-items: flex-start;
}

.slider {
    width: 100%;
    padding-right: 55px;
    position: relative;
}
.hr-bottom {
    outline: none;
    border-bottom: 2px dashed #ffffff;
    border-top: 0;
    position: absolute;
    width: 105%;
    left: -50px;
}

.slider-img {
    width: 100%;
    height: 495px;
    overflow: hidden;
}

.slider-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.login-form {
    padding-top: 50px;
}

.login-form-group {
}

.login-form form {
    border-top: 2px dashed #ffffff;
    border-left: 2px dashed #ffffff;
    border-right: 2px dashed #ffffff;
    position: relative;
    padding: 102px 40px 0;
    margin-bottom: 50px;
}

.icon-login {
    position: absolute;
    top: -50px;
    left: 0;
    text-align: center;
    width: 100%;
}

.form-input {
    display: flex;
    margin-bottom: 25px;
}

.input-username, .input-password {
    outline: none;
    background-color: transparent;
    border-bottom: 2px dashed #ffffff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: #ffffff;
    font-size: 16px;
    display: inline-block;
    width: 100%;
    padding-left: 5px;
    border-radius: 0 !important;
}

.form-input-password {
    position: relative;
}

.icon-view {
    position: absolute;
    right: 18px;
    top: 5px;
    z-index: 99;
}

.login-code {
    display: flex;
    margin-bottom: 35px;
    margin-top: 40px;
}

.login-code-left {
    background-color: #ffffff;
    width: 40%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.code-txt {
    font-size: 20px;
    color: #707070;
    font-weight: 600;
    text-align: center;
    height: 40px;

    line-height: 40px;
}
.input-capcha {
    font-size: 20px !important;
    color: #EF1919 !important;
    font-family: "Helvetica Neue Condensed Bold";
}

.code-number {
    font-size: 24px;
    color: #3A556A;
    font-weight: 600;
    text-align: center;
}

.login-code-right {
    width: 60%;
    background-color: transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-login {
    width: 100%;
    height: 50px;
    line-height: 45px;
    font-size: 30px;
    font-weight: 600;
    color: #707070;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    outline: none;
    border-color: transparent;
    font-family: "Helvetica Neue Condensed Bold";
}

.icon-password, .icon-username {
    position: relative;
    bottom: -5px;
    margin-right: 10px;
}

.banner-bottom-item-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.banner-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.banner-item p:first-child {
    margin-bottom: 15px;
}

.footer {
    display: flex;
    justify-content: center;
    width: 90%;
}

.footer-container {
    display: inline-flex;
    justify-content: space-between;
    border-top: 1px solid #ffffff;
    padding-top: 10px;
    width: 100%;
    margin: 0 67px;
}

.banner-bottom {
    width: 100%;
    display: flex;
    align-items: center;
}

.footer-txt {
    color: #ffffff;
    font-size: 28px;
    line-height: 24px;
    font-family: "Helvetica Neue Bold";
    margin-top: 25px;
}
.txt-phone {
    font-size: 45px;
    color: #ffffff;
    font-family: "Helvetica Neue Condensed Bold";
}
.qr-code {
    padding: 25px;
    border-right: 2px dashed #ffffff;
    border-bottom: 2px dashed #ffffff;
    border-top: 2px dashed #ffffff;
    position: relative;
}
.qr-code img {
    /*width: 60%;*/
}

.qr-code:before {
    content: "";
    position: absolute;
    bottom: 20px;
    left: -21px;
    width: 40px;
    transform: rotate(
            90deg
    );
    border-bottom: 2px dashed #fff;
}
.qr-code-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.qr-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.store-icon {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
}

.figure {
    width: 100%;
    height: 85px;
    background-color: transparent;
    border-top: 1px solid #ffffff;
    position: relative;
    display: none;
    visibility: hidden;
}

.figure:before {
    content: "";
    position: absolute;
    height: 0.75px;
    background-color: #ffffff;
    bottom: 36px;
    right: -50px;
    width: 100px;
    transform: rotate(90deg);
}

form:after {
    content: "";
    position: absolute;
    border-bottom: 2px dashed #ffffff;
    bottom: -26px;
    left: -24px;
    width: 46px;
    transform: rotate(
            90deg
    );
}
form:before {
    content: "";
    position: absolute;
    border-bottom: 2px dashed #ffffff;
    bottom: -2px;
    right: -100px;
    width: 100px;
    transform: rotate(180deg);
}
.slider-pagination {
    width: 100%;
    position: unset !important;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: center;
}

.slider-pagination span {
    width: 100px;
    height: 6px;
    border-radius: 3px;
    background-color: #ffffff;
    margin-right: 20px;
}

.slider-pagination span:last-child {
    margin-right: 0;
}

.br-sp {
    display: none;
}

.icon-login {
    display: block;
    visibility: visible;
}

.icon-login-sp {
    display: none;
    visibility: hidden;
}

.input-capcha {
    width: 100%;
    height: 100%;
    outline: none;
    border: transparent;
    font-size: 16px;
    background-color: #00dcff;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;

}

.icon-car-top {
    width: 35px;
}

.icon-car-top img {
    width: 100%;
}

.icon-car {
}

.main-container {
    padding: 50px 50px 0;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-top {
    grid-template-columns: 75% 25%;
}

.banner-bottom-item-container {
    width: 75%;
}

.icon-car {
}

.icon-car img {
    width: 70%;
}

.footer-txt {
    color: #ffffff;
    font-size: 14px;
}

.main-title {
    padding-left: 0;
    text-align: left;
}

.slider-img {
    height: auto;
    padding-left: 20px;
}

.btn-login {
    font-size: 20px;
}

.code-number {
    font-size: 18px;
}

.slider-pagination {

}
.main-title-sp {
    display: none;
    visibility: hidden;
}
.main-container-second {
    padding: 0 50px 50px;
    position: relative;
}
.qr-code img {
    width: 60%;
}
@media screen and (max-width: 1024px) {
    .main {
        overflow: hidden;
        height: 100vh;
    }
    .br-sp {
        display: block;
    }

    .main-container {
        padding: 30px 20px;
        width: 100%;
        overflow: unset;
    }

    .main-title {
        font-size: 22px;
        line-height: 31px;
        text-align: center;
        padding-left: 0;
        margin-bottom: 35px;
    }

    .slider {
        display: none;
        visibility: hidden;
    }

    .login-form {
        padding-right: 0;
        padding-top: 0;
    }

    .icon-login {
        display: none;
    }

    .banner-top {
        grid-template-columns: auto;
    }

    .login-form form {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        padding: 0;
        margin-bottom: 42px;
    }

    form:before, form:after {
        content: unset;
    }

    .qr-code:before {
        content: unset;
    }

    .qr-code {
        border-right: 0;
        border-bottom: 0;
        border-top: 0;
        padding: 0 20px;
    }

    .banner-bottom {
        display: none;
        visibility: hidden;
    }

    .footer {
        display: none;
        visibility: hidden;
    }

    .icon-login-sp {
        display: block;
        visibility: visible;
        text-align: center;
        margin-bottom: 27px;
    }

    .icon-login {
        display: none;
        visibility: hidden;
    }

    .btn-login {
        font-size: 20px;
        margin-top: 0;
    }
    .main-title-sp {
        display: block;
        visibility: visible;
    }
    .login-code {
        margin-top: 0;
    }
}

@media screen and (min-width: 1501px) {
    .qr-code:before {
        bottom: 23px;
        left: -24px;
        width: 50px;
    }
    .qr-code img {
        width: 100%;
    }
    .main-container-second {
        bottom: 25px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1365px) {
    .main-container {
        max-width: 1100px;
    }
    .main-title {
        white-space: unset;
    }
    .slider-img {
        height: 355px;
    }
    .hr-bottom {
        width: 106%;
        bottom: 1px;
    }
    .txt-phone {
        font-size: 38px;
        white-space: nowrap;
    }
    .footer-txt {
        font-size: 8px;
        margin-top: 15px;
    }
    .icon-car img {
        width: 55%;
    }
    .icon-car {
        text-align: center;
    }
    .footer-right {
        display: flex;
        justify-content: space-between;
    }
}